.thumb-wrapper{
  display: flex;
  background-color: var(--background);
  width: 40px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border: 1px solid var(--text);
  padding: 1px;
}

.thumb-wrapper:hover{
  opacity: 0.8;
}

.thumb-wrapper:active{
  transform: scale(0.9);
}

.thumb-wrapper.active{
  background-color: var(--border);
}
