@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --secondary: #F6F6F7;
  --border: #E8E8EA;
  --text: #181A2A;
  --secondary-text: #97989F;
  --blue: #276ef6;
  --red: rgba(228, 29, 29, 1)
}

.dark-mode{
  --background: #181A2A;
  --secondary: #141624;
  --border: #242535;
  --text: #FFFFFF;
  --secondary-text: #97989F;
  --blue: #276ef6;
  --red: rgba(228, 29, 29, 1)
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text);
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root > main{
  flex-grow: 1;
}

.primary-background{
  background-color: var(--background);
}

.secondary-background{
  background-color: var(--secondary);
}

.wrapper{
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.primary-text{
  color: var(--text);
}

.secondary-text{
  color: var(--secondary-text);
}

.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 150px;
}

.input{
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 8px 12px;
  width: 100%;
  height: 48px;
  background-color: var(--background);
}

.input::placeholder{
  color: var(--secondary-text);
}

.input.error{
  border-color: var(--red);
}

.page{
  display: flex;
  flex-direction: column;
  flex: auto;
}

a {
  cursor: pointer;
}