@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --secondary: #F6F6F7;
  --border: #E8E8EA;
  --text: #181A2A;
  --secondary-text: #97989F;
  --blue: #4B6BFB;
}

.dark-mode{
  --background: #181A2A;
  --secondary: #141624;
  --border: #242535;
  --text: #FFFFFF;
  --secondary-text: #97989F;
  --blue: #4B6BFB;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text);
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root > main{
  flex-grow: 1;
}

.primary-background{
  background-color: var(--background);
}

.secondary-background{
  background-color: var(--secondary);
}

.wrapper{
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

a {
  cursor: pointer;
}